<settings>
<servers>
  <server>
    <id>domain-terraform-repository-terraform</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>domain-terraform-repository-terraform</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>domain-terraform-repository-terraform</id>
        <url>https://domain-terraform-978489150432.d.codeartifact.ap-northeast-1.amazonaws.com/maven/repository-terraform/</url>
      </repository>
    </repositories>
  </profile>
</profiles>

<mirrors>
  <mirror>
    <id>domain-terraform-repository-terraform</id>
    <name>domain-terraform-repository-terraform</name>
    <url>https://domain-terraform-978489150432.d.codeartifact.ap-northeast-1.amazonaws.com/maven/repository-terraform/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
</settings>